<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Leave Request</h3>
                    <div class="col-auto d-flex w-sm-100">
                        <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#leaveadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Leave</button>
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Employee Id</th>
                                    <th>Employee Name</th>
                                    <th>Leave Type</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Reason</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00001</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar1.jpg" alt="">
                                        <span class="fw-bold ms-1">Joan Dyer</span>
                                    </td>
                                    <td>
                                        Casual Leave
                                    </td>
                                    <td>
                                        12/03/2021
                                    </td>
                                    <td>
                                        14/03/2021
                                    </td>
                                    <td>
                                        Going to Holiday
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00038</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar2.jpg" alt="">
                                        <span class="fw-bold ms-1">Ryan	Randall</span>
                                    </td>
                                    <td>
                                        Casual Leave
                                    </td>
                                    <td>
                                        11/04/2021
                                    </td>
                                    <td>
                                        12/04/2021
                                    </td>
                                    <td>
                                        Going to Holiday
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00007</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar3.jpg" alt="">
                                        <span class="fw-bold ms-1">Phil	Glover</span>
                                    </td>
                                    <td>
                                        Medical Leave
                                    </td>
                                    <td>
                                        11/04/2021
                                    </td>
                                    <td>
                                        12/04/2021
                                    </td>
                                    <td>
                                        Going to Hospital
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00010</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar4.jpg" alt="">
                                        <span class="fw-bold ms-1">Victor Rampling</span>
                                    </td>
                                    <td>
                                        Medical Leave
                                    </td>
                                    <td>
                                        28/04/2021
                                    </td>
                                    <td>
                                        30/04/2021
                                    </td>
                                    <td>
                                        Going to Hospital
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00002</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar5.jpg" alt="">
                                        <span class="fw-bold ms-1">Sally Graham</span>
                                    </td>
                                    <td>
                                        Medical Leave
                                    </td>
                                    <td>
                                        01/05/2021
                                    </td>
                                    <td>
                                        06/05/2021
                                    </td>
                                    <td>
                                        Hospital Admit
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00005</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar6.jpg" alt="">
                                        <span class="fw-bold ms-1">Robert Anderson</span>
                                    </td>
                                    <td>
                                        Medical Leave
                                    </td>
                                    <td>
                                        03/05/2021
                                    </td>
                                    <td>
                                        06/05/2021
                                    </td>
                                    <td>
                                        Hospital Admit
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="employee-profile.html" class="fw-bold text-secondary">#EMP : 00014</a>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="~/Content/assets/images/xs/avatar7.jpg" alt="">
                                        <span class="fw-bold ms-1">Ryan	Stewart</span>
                                    </td>
                                    <td>
                                        Casual Leave
                                    </td>
                                    <td>
                                        10/07/2021
                                    </td>
                                    <td>
                                        18/08/2021
                                    </td>
                                    <td>
                                        Famaily Holiday
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#leaveapprove"><i class="icofont-check-circled text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow" data-bs-toggle="modal" data-bs-target="#leavereject"><i class="icofont-close-circled text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>

<!-- Modal Members-->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="addUserLabel">Employee Invitation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="inviteby_email">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="exampleInputEmail1">
                        <button class="btn btn-dark" type="button" id="button-addon2">Sent</button>
                    </div>
                </div>
                <div class="members_list">
                    <h6 class="fw-bold ">Employee </h6>
                    <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                        <li class="list-group-item py-3 text-center text-md-start">
                            <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                                <div class="no-thumbnail mb-2 mb-md-0">
                                    <img class="avatar lg rounded-circle" src="~/Content/assets/images/xs/avatar2.jpg" alt="">
                                </div>
                                <div class="flex-fill ms-3 text-truncate">
                                    <h6 class="mb-0  fw-bold">Rachel Carr(you)</h6>
                                    <span class="text-muted">rachel.carr@gmail.com</span>
                                </div>
                                <div class="members-action">
                                    <span class="members-role ">Admin</span>
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="icofont-ui-settings  fs-6"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item py-3 text-center text-md-start">
                            <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                                <div class="no-thumbnail mb-2 mb-md-0">
                                    <img class="avatar lg rounded-circle" src="~/Content/assets/images/xs/avatar3.jpg" alt="">
                                </div>
                                <div class="flex-fill ms-3 text-truncate">
                                    <h6 class="mb-0  fw-bold">Lucas Baker<a href="#" class="link-secondary ms-2">(Resend invitation)</a></h6>
                                    <span class="text-muted">lucas.baker@gmail.com</span>
                                </div>
                                <div class="members-action">
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Members
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="icofont-check-circled"></i>

                                                    <span>All operations permission</span>
                                                </a>

                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fs-6 p-2 me-1"></i>
                                                    <span>Only Invite & manage team</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="icofont-ui-settings  fs-6"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Delete Member</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item py-3 text-center text-md-start">
                            <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
                                <div class="no-thumbnail mb-2 mb-md-0">
                                    <img class="avatar lg rounded-circle" src="~/Content/assets/images/xs/avatar8.jpg" alt="">
                                </div>
                                <div class="flex-fill ms-3 text-truncate">
                                    <h6 class="mb-0  fw-bold">Una Coleman</h6>
                                    <span class="text-muted">una.coleman@gmail.com</span>
                                </div>
                                <div class="members-action">
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Members
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="icofont-check-circled"></i>

                                                    <span>All operations permission</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="fs-6 p-2 me-1"></i>
                                                    <span>Only Invite & manage team</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icofont-ui-settings  fs-6"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Suspend member</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="icofont-not-allowed fs-6 me-2"></i>Delete Member</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Leave Add-->
<div class="modal fade" id="leaveadd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="leaveaddLabel"> Leave Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Select Leave type</label>
                    <select class="form-select">
                        <option selected>Medical Leave</option>
                        <option value="1">Casual Leave</option>
                        <option value="2">Maternity Leave</option>
                    </select>
                </div>
                <div class="deadline-form">
                    <form>
                        <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                                <label for="datepickerdedass" class="form-label">Leave From Date</label>
                                <input type="date" class="form-control" id="datepickerdedass">
                            </div>
                            <div class="col-sm-6">
                                <label for="datepickerdedoneddsd" class="form-label">Leave to Date</label>
                                <input type="date" class="form-control" id="datepickerdedoneddsd">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea78d" class="form-label">Leave Reason</label>
                    <textarea class="form-control" id="exampleFormControlTextarea78d" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                <button type="submit" class="btn btn-primary">sent</button>
            </div>
        </div>
    </div>
</div>

<!-- Leave Approve-->
<div class="modal fade" id="leaveapprove" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="dremovetaskLabel"> Leave Approve</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-center flex-column d-flex">
                <i class="icofont-simple-smile text-success display-2 text-center mt-2"></i>
                <p class="mt-4 fs-5 text-center">Leave Approve Successfully</p>
            </div>
        </div>
    </div>
</div>

<!-- Leave Reject-->
<div class="modal fade" id="leavereject" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="leaverejectLabel"> Leave Reject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-center flex-column d-flex">
                <i class="icofont-sad text-danger display-2 text-center mt-2"></i>
                <p class="mt-4 fs-5 text-center">Leave Reject</p>
            </div>
        </div>
    </div>
</div>  

